.detail-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.centered-container {
    display: flex;
    justify-content: center;
}
  
.evolution-title {
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}